<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Below are the events that have been a part of my life</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000-2013</h4>
                                    <h4 class="subheading">Secondary Schooling</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Secondary schooling was done in several schools but the major part was done at Sanskar School, Jaipur. Secondary school days were quite smooth and involved much development of my skills.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2015</h4>
                                    <h4 class="subheading">Higher Secondary Schooling</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Higher Secondary schooling was at Sanskar School, Jaipur and my major focussed was on Science stream to get into Engineering which I was highly ambitious about.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-Present</h4>
                                    <h4 class="subheading">Under Graduate</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Under Graduation in Engineering has been a great experience for both learning and development wise. College was the place where I invested more into my passion and grasped all knowledge about it. Alongside this, extra curricular activities has always attracted me during my B. Tech.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2018 - May 2018</h4>
                                    <h4 class="subheading">Software Development Internship at Samyak IT Solutions Pvt. Ltd.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I did a two months software development internship at Samyak, Jaipur where I worked on the Yog4All project. The internship was mainly focussed on website development and Search Engine Optimization for the same. The site is live now and the company is planning to improve it further according to the market.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2019 - Present</h4>
                                    <h4 class="subheading">Software Development Internship at Trakinvest</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am working as a software developer intern at Trakinvest which is mainly a startup focussed on to spread the awareness of trading by the virtual platform they have created. I have worked on the Kotlin Android app for the company and noow have shifted to DevOps for their complete infrastructure.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>